h1{
    color: orange;
    text-align: right;
}
i{
    background-color: green;
    color: white;
}
p{
    font-weight: bold;
    font-size: 19px;
}
p:first-letter,
span:first-letter{
    font-size: 300%;
    color: red;
}
h3{

}